*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
    }
    
    body{
    background:#f4f4f4;
    }
    
    header{
    background:#4E342E;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    }
    
    nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
    }
    
    .active{
    color:gold;
    }
    
    .banner{
    text-align:center;
    padding:70px;
    background:#795548;
    color:white;
    }
    
    .banner h2{
    font-size:45px;
    margin-bottom:10px;
    }
    
    .filtre{
    text-align:center;
    margin:40px;
    }
    
    .btn{
    padding:12px 25px;
    margin:10px;
    border:none;
    cursor:pointer;
    background:#795548;
    color:white;
    border-radius:5px;
    font-size:16px;
    transition:.3s;
    }
    
    .btn:hover{
    background:#5D4037;
    }
    
    .gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    padding:40px;
    }
    
    .card{
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    transition:.4s;
    }
    
    .card:hover{
    transform:scale(1.05);
    }
    
    .card img{
    width:100%;
    height:260px;
    object-fit:cover;
    }
    
    .card h3{
    margin:15px;
    }
    
    .card p{
    margin:15px;
    font-weight:bold;
    color:#BF360C;
    }
    
    footer{
    margin-top:40px;
    padding:20px;
    text-align:center;
    background:#4E342E;
    color:white;
    }
    
    @media(max-width:768px){
    
    header{
    flex-direction:column;
    }
    
    nav{
    margin-top:15px;
    }
    
    .banner h2{
    font-size:30px;
    }
    
    }